@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Open+Sans&family=Poppins&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: Poppins , sans-serif;
}
.clearfix{
	display:flex;
}
.flex1{
	flex:1;
}
.flex2{
	flex:2;
}
.flex3{
	flex:3;
}
.flex4{
	flex:4;
}


/***************************************section 1 start******************************************/
.bg-img1{
	background-image:url("../image/breadcrumbs-bg.png");
	background-repeat:no-repeat;
	background-size:cover;
	height:328px;
	margin-bottom:90px;
}
.sec1-h1{
	color:white;
	padding:35px 0px 0px 125px;
}
span{
	color:yellow;
}
.menu{
	overflow:hidden;
	list-style:none;
	margin:35px 0px 0px 478px;
}
.menu li{
	display:inline;
}
.menu li a{
	padding-right:29px;
	text-decoration:none;
	display:inline-block;
	color:#bfbfbf;
	font-weight:bold;
	font-size:14px;
}
.menu li a:hover{
	color:white;
}
.span{
	color:white;
}
.dropdown{
	display:inline-block;
}
.dropdown-content{
	position:absolute;
	display:none;
	min-width:160px;
	z-index:1;
	margin-left:427px;
}
li .dropdown-content a:hover{
	color:#ffbb00;
}
.dropdown .dropdown-content a{
	display:block;
	color:black;
	background-color:white;
	padding:15px 61px 14px 20px;
}
.dropdown:hover .dropdown-content{
	display:block;
}
.dropdown2{
	display:inline-block;
}
.dropdown-content2{
	position:absolute;
	display:none;
	min-width:160px;
	z-index:1;
	margin-left:-180px;
	box-shadow:10px 10px 10px rgba(0,0,0,0.2); 	
}
li .dropdown-content2 a:hover{
	color:#ffbb00;
}
.dropdown2 .dropdown-content2 a{
	display:block;
	color:black;
	background-color:white;
	padding:15px 25px 14px 24px;
}
.dropdown2:hover .dropdown-content2{
	display:block;
}
.sec1-h2{
	text-align:center;
	color:white;
	font-size:53px;
	margin-top:76px;
}
.sec1-h3{
	text-align:center;
	color:#ffbb00;
	font-size:16px;
	font-weight:bold;
}
.sec1-h4	{
	text-align:center;
	color:#9e9e9e;
	font-size:16px;
	text-decoration:none;
	font-weight:bold;
}
/****************************************section 1 end*******************************************/


/**********************************section 2 start*******************************/
.img1{
	width:100%;
	vertical-align: middle;
	transition:transform 1s ease;
}
.box-div2{
	overflow:hidden;
}
.sec2-h1{
	font-size:22px;
	font-weight:bold;
	color:#52565e;
	margin-top:10px;
}
.sec2-h2{
	font-size:16px;
	padding-top:11px;
	padding-right:34px;
}
.sec2-h3{
	margin-top:15px;
}
.sec2-h4{
	margin:16px 0px 25px 0px;
	font-size:16px;
	color:grey;
}
.box-div1{
	background-color:white;
	margin:-7px 0px 80px 0px;
	padding:14px 36px 1px 36px;
	height:355px;
	box-shadow:0px 0px 21px -11px rgba(0,0,0,0.5);
}
.box-div3{
	background-color:white;
	margin:-7px 0px 80px 0px;
	padding:14px 36px 1px 36px;
	height:404px;
	box-shadow:0px 0px 21px -11px rgba(0,0,0,0.5);
}

.box1:hover .img1{
	transform:scale(1.1);
}
.box2:hover .img1{
	transform:scale(1.1);
}
.box3:hover .img1{
	transform:scale(1.1);
}
.box1:hover .sec2-h1{
	color:#ffbb00;
}
.box2:hover .sec2-h1{
	color:#ffbb00;
}
.box3:hover .sec2-h1{
	color:#ffbb00;
}
.box1:hover .sec2-h4{
	color:#ffbb00;
}
.box2:hover .sec2-h4{
	color:#ffbb00;
}
.box3:hover .sec2-h4{
	color:#ffbb00;
}
.box1:hover .span5{
	color:#ffbb00;
}
.box2:hover .span5{
	color:#ffbb00;
}
.box3:hover .span5{
	color:#ffbb00;
}
.box1{
	margin:0px 28px 0px 140px;
}
.box3{
	margin:0px 140px 0px 28px;
}
.hr1{
	width:90%;
	border:1px solid lighrgrey;
	margin-top:19px;
}
.Sh1{
	margin-right:13px;
	color:#ffbb00;
}
.Sh2{
	padding-left:10px;
	color:grey;
}
/**********************************section 2 end*******************************/


/**********************************section 3 start*******************************/
.bg-img2{
	background-image:url("../image/footer-bg(2).jpg");
	background-repeat:no-repeat;	
	height:475px;
	background-size:cover;
}
.sec3-h1{
	color:white;
	font-size:29px;
	margin:75px 0px 15px 140px;
}
.sec3-h2{
	color:white;
	font-size:14px;
	width:24%;
	margin:0px 0px 26px 140px;
}
.sec3-h3{
	color:white;
	font-size:14px;
	margin:0px 0px 3px 140px;
}
.Sh3{
		color: white;
    font-weight: bold;
}
.box-div5{
	margin:10px 0px 0px 140px;
}
.b1{
	border-radius:6px;
    border:none;
    padding:3px 8px 3px 8px;
    background:rgba(255, 255, 255, 0.1);
    margin-right:7px;
}
.Sh4{
	font-size:17px;
	color:white;
}
.b1:hover{
	background-color:#ffbb00;
}
.hr2{
	width:84%;
	border:1px solid #9e9e9e;
	margin:30px 0px 30px 140px;
}
.sec3-h4{
	color:white;
	font-size:17px;
	margin:75px 0px 15px 0px;
}
.sec3-h5{
	color:#9e9e9e;
	font-size:14px;
	margin-bottom:15px;
}
.sec3-h5:hover{
	color:white;
}
.sec3-h6{
	color:white;
	font-size:14px;
	text-align:center;
	margin-top:8px;
}
.Sh5{
	color:#ffbb00;
}
.box-div6{
	margin-right:70px;
}
.box-div4{
	margin-right:180px;
}
/**********************************section 3 end*******************************/